@import "variables";
@import "_mixins";
@import "calendar";

html {
  font-family: Arial, sans-serif;
  font-size: 30px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
